	body{
		 background-image: linear-gradient(to right, #654ea3 , #eaafc8);

	}
	a{margin-right: 20px;}
	.box{text-align: center;margin-top:70px;}
	.box h3{color:green;font-size: 23px;font-weight:bold;margin-bottom: 20px;}
	label{font-size:20px;margin-right:20px;color:green;}
	button{margin-left:20px;}

	table {border-collapse: collapse;text-align: center;margin:10px auto;}
	td{padding: 23px;}
	th{padding:23px;font-size: 20px;color:green;}



	span{margin-left:650px;font-size: 20px;color:red;}



	
	


	

	
	
  




	
	

	